.portfolio-with-form {
    background-color: #f9faff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.portfolio-with-form .div {
    background-color: var(--bg-gray);
    width: 1440px;
    height: 3813px;
    position: relative;
}

.portfolio-with-form .overlap {
    position: relative;
    width: 1440px;
    height: 629px;
    top: 0;
    left: 0;
}

.portfolio-with-form .image {
    position: absolute;
    width: 720px;
    height: 629px;
    top: 0;
    left: 720px;
    background-image: url(./img/yellow-bg.svg);
    background-size: 100% 100%;
}

.portfolio-with-form .img {
    position: absolute;
    width: 450px;
    height: 629px;
    top: 0;
    left: 0;
    margin-left: 30%;
}

.portfolio-with-form .header {
    position: absolute;
    width: 1440px;
    height: 56px;
    top: 0;
    left: 0;
    background-color: transparent;
}

.portfolio-with-form .text-wrapper {
    position: absolute;
    top: 11px;
    left: 120px;
    font-family: "Comfortaa-Bold", Helvetica;
    font-weight: 700;
    color: var(--font-high-emphasis);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
    white-space: nowrap;
}

.portfolio-with-form .nav {
    display: inline-flex;
    align-items: flex-start;
    gap: 48px;
    position: absolute;
    top: 14px;
    left: 1029px;
}

.portfolio-with-form .tab-default {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    position: relative;
    flex: 0 0 auto;
}

.portfolio-with-form .sobre {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Raleway-Medium", Helvetica;
    font-weight: 500;
    color: var(--font-high-emphasis);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.portfolio-with-form .intro {
    display: flex;
    flex-direction: column;
    width: 486px;
    align-items: flex-start;
    gap: 12px;
    position: absolute;
    top: 111px;
    left: 120px;
}

.portfolio-with-form .UI-UX-designer {
    position: relative;
    align-self: stretch;
    margin-top: -1.09px;
    font-family: "Nunito-Bold", Helvetica;
    font-weight: 700;
    color: var(--brand-yellow);
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.portfolio-with-form .content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
}

.portfolio-with-form .title {
    position: relative;
    width: 486px;
    margin-top: -1px;
    font-family: var(--title-h1-font-family);
    font-weight: var(--title-h1-font-weight);
    color: var(--gray-1);
    font-size: var(--title-h1-font-size);
    letter-spacing: var(--title-h1-letter-spacing);
    line-height: var(--title-h1-line-height);
    font-style: var(--title-h1-font-style);
}

.portfolio-with-form .subheadline {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
}

.portfolio-with-form .text {
    width: 486px;
    margin-top: -1px;
    font-family: var(--body-24px-font-family);
    font-weight: var(--body-24px-font-weight);
    color: var(--gray-3);
    font-size: var(--body-24px-font-size);
    line-height: var(--body-24px-line-height);
    position: relative;
    letter-spacing: var(--body-24px-letter-spacing);
    font-style: var(--body-24px-font-style);
}

.portfolio-with-form .buttons {
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
}

.portfolio-with-form .button-primary {
    background-color: var(--brand-yellow);
    display: inline-flex;
    align-items: flex-start;
    padding: 8px 24px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
}

.portfolio-with-form .text-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: var(--font-high-emphasis);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
}

.portfolio-with-form .button-secondary {
    border: 2px solid;
    border-color: var(--bg-line);
    display: inline-flex;
    align-items: flex-start;
    padding: 8px 24px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
}

.portfolio-with-form .text-3 {
    width: fit-content;
    margin-top: -2px;
    font-family: "Roboto-Medium", Helvetica;
    font-weight: 500;
    color: var(--font-high-emphasis);
    font-size: 18px;
    line-height: 27px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
}

.portfolio-with-form .projects {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    position: absolute;
    top: 773px;
    left: 222px;
}

.portfolio-with-form .section-title {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.portfolio-with-form .text-4 {
    width: fit-content;
    margin-top: -1px;
    font-family: var(--title-h2-font-family);
    font-weight: var(--title-h2-font-weight);
    color: var(--font-high-emphasis);
    font-size: var(--title-h2-font-size);
    text-align: center;
    line-height: var(--title-h2-line-height);
    white-space: nowrap;
    position: relative;
    letter-spacing: var(--title-h2-letter-spacing);
    font-style: var(--title-h2-font-style);
}

.portfolio-with-form .rectangle {
    position: relative;
    width: 100px;
    height: 4px;
    background-color: var(--brand-yellow);
    border-radius: 2px;
}

.portfolio-with-form .project {
    display: flex;
    width: 992px;
    height: 524px;
    align-items: flex-start;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0px 6px 64px #7090b01a;
}

.portfolio-with-form .project-nfo {
    position: relative;
    width: 496px;
    height: 524px;
    background-color: var(--bg-white);
}

.portfolio-with-form .frame {
    display: flex;
    flex-direction: column;
    width: 407px;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    top: 146px;
    left: 50px;
}

.portfolio-with-form .text-5 {
    align-self: stretch;
    margin-top: -1px;
    font-family: "Playfair Display-Bold", Helvetica;
    font-weight: 700;
    color: var(--font-high-emphasis);
    font-size: 40px;
    line-height: 60px;
    position: relative;
    letter-spacing: 0;
}

.portfolio-with-form .p {
    align-self: stretch;
    font-family: "Nunito-Regular", Helvetica;
    font-weight: 400;
    color: var(--font-medium-emphasis);
    font-size: 18px;
    line-height: 27px;
    position: relative;
    letter-spacing: 0;
}

.portfolio-with-form .boto-secudrio {
    display: inline-flex;
    align-items: flex-start;
    padding: 8px 24px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 24px;
    border: 1px solid;
    border-color: var(--font-high-emphasis);
}

.portfolio-with-form .pexels-elly {
    position: relative;
    width: 496px;
    height: 524px;
}

.portfolio-with-form .project-2 {
    display: inline-flex;
    height: 524px;
    align-items: flex-start;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0px 6px 64px #7090b01a;
}

.portfolio-with-form .rectangle-2 {
    position: relative;
    width: 496px;
    height: 524px;
    object-fit: cover;
}

.portfolio-with-form .frame-2 {
    display: flex;
    flex-direction: column;
    width: 407px;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    top: 160px;
    left: 50px;
}

.portfolio-with-form .footer-form {
    position: absolute;
    width: 100%;
    height: 1004px;
    top: 2809px;
    left: 0;
}

.portfolio-with-form .overlap-group {
    position: absolute;
    width: 100%;
    height: 844px;
    top: 160px;
    left: 0;
}

.portfolio-with-form .vector {
    position: absolute;
    width: 1440px;
    height: 344px;
    top: 500px;
    left: 0;
}

.portfolio-with-form .frame-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 56px;
    position: absolute;
    top: 0;
    left: 520px;
}

.portfolio-with-form .form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.portfolio-with-form .div-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.portfolio-with-form .label {
    position: relative;
    width: 44px;
    height: 22px;
}

.portfolio-with-form .label-2 {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Nunito-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--font-high);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.portfolio-with-form .input {
    position: relative;
    width: 400px;
    height: 40px;
    background-color: var(--bg-white);
    border-radius: 8px;
    border: 1px solid;
    border-color: #e7ebf4;
}

.portfolio-with-form .textarea {
    position: relative;
    width: 400px;
    height: 160px;
    background-color: var(--bg-white);
    border-radius: 8px;
    border: 1px solid;
    border-color: #e7ebf4;
}

.portfolio-with-form .div-wrapper {
    background-color: var(--brand-yellow);
    display: inline-flex;
    align-items: flex-start;
    padding: 8px 24px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    all: unset;
    box-sizing: border-box;
}

.portfolio-with-form .footer-icons {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
}

.portfolio-with-form .icons {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.portfolio-with-form .img-2 {
    position: relative;
    width: 48px;
    height: 48px;
}

.portfolio-with-form .text-wrapper-2 {
    position: relative;
    width: fit-content;
    font-family: "Nunito-Regular", Helvetica;
    font-weight: 400;
    color: var(--font-medium-emphasis);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.portfolio-with-form .section-title-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: absolute;
    top: 0;
    left: 618px;
}

.portfolio-with-form .bottom {
    position: static;
    margin-top: 35%;
}


