:root {
    --brand-yellow: rgba(253, 196, 53, 1);
    --bg-gray: rgba(249, 250, 255, 1);
    --bg-white: rgba(255, 255, 255, 1);
    --bg-line: rgba(37, 40, 43, 1);
    --font-high-emphasis: rgba(37, 40, 43, 1);
    --font-medium-emphasis: rgba(130, 130, 130, 1);
    --font-low-emphasis: rgba(154, 159, 168, 1);
    --gray-1: rgba(51, 51, 51, 1);
    --gray-3: rgba(130, 130, 130, 1);
    --font-high: rgba(37, 40, 43, 1);
    --title-h1-font-family: "PlayfairDisplay-Bold", Helvetica;
    --title-h1-font-weight: 700;
    --title-h1-font-size: 64px;
    --title-h1-letter-spacing: 0px;
    --title-h1-line-height: 120.00000476837158%;
    --title-h1-font-style: normal;
    --title-h2-font-family: "PlayfairDisplay-Bold", Helvetica;
    --title-h2-font-weight: 700;
    --title-h2-font-size: 48px;
    --title-h2-letter-spacing: 0px;
    --title-h2-line-height: 72px;
    --title-h2-font-style: normal;
    --body-24px-font-family: "Nunito-Regular", Helvetica;
    --body-24px-font-weight: 400;
    --body-24px-font-size: 24px;
    --body-24px-letter-spacing: 0px;
    --body-24px-line-height: 36px;
    --body-24px-font-style: normal;
    --body-18px-font-family: "Raleway-Medium", Helvetica;
    --body-18px-font-weight: 500;
    --body-18px-font-size: 18px;
    --body-18px-letter-spacing: 0px;
    --body-18px-line-height: 28px;
    --body-18px-font-style: normal;
}
