<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>Openiot Configuration Board</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body class="bg-gray-100 flex flex-col h-screen">

<nav class="flex items-center justify-between px-4 py-2 bg-gray-50 text-gray-700 border-b border-gray-200">
    <div class="flex items-center">
        <a href="#" class="flex items-center">
            <img alt="Your Logo" src="http://office.unibutton.com:59000/wenhao/2024-02/22/1ac8effc-c054-434a-9167-e00f4cdc3725.png" class="logo mr-2 h-12 w-12"/>
            <span class="text-xl font-semibold">Openiiot</span>
        </a>
        <a href="#" class="ml-6 text-sm font-medium text-gray-700 hover:text-gray-900">Home</a>
        <a href="#" class="ml-6 text-sm font-medium text-gray-700 hover:text-gray-900">Products</a>
        <a href="#" class="ml-6 text-sm font-medium text-gray-700 hover:text-gray-900">Services</a>
        <a href="#" class="ml-6 text-sm font-medium text-gray-700 hover:text-gray-900">About Us</a>
    </div>
    <div class="relative">
        <input class="bg-gray-100 text-sm text-gray-700 rounded-md pl-10 py-1 focus:outline-none focus:ring-2 focus:ring-gray-200 w-96" placeholder="Search" type="text"/>
        <span class="absolute left-2 top-0 mt-2 ml-2 text-gray-400">
            <i class="fas fa-search"></i>
        </span>
    </div>
    <div class="flex items-center">
        <button class="text-gray-400 text-sm mx-2"><i class="fas fa-bell"></i></button>
        <button class="text-gray-400 text-sm mx-2"><i class="fas fa-clipboard-list"></i></button>
        <button class="text-gray-400 text-sm mx-2"><i class="fas fa-comment-alt"></i></button>
        <button class="text-gray-400 text-sm mx-2"><i class="fas fa-cog"></i></button>
        <div class="mx-2 text-gray-700 text-sm">
            N. Virginia
        </div>
        <button class="mx-2 text-sm text-gray-700 bg-gray-100 py-1 px-4 rounded-md hover:bg-gray-200">Wenhao</button>
    </div>
</nav>


<div class="flex flex-1 overflow-hidden">
    <!-- Sidebar -->
    <div id="sidebar" class="w-64 bg-gray-50 shadow-md relative transition-width duration-300 ease-in-out">
        <div class="p-6">
            <h1 id="sidebarTitle" class="text-2xl font-semibold transition-opacity duration-300 ease-in-out opacity-100">Configuration Board</h1>
        </div>
        <nav id="sidebarNav" class="text-sm transition-opacity duration-300 ease-in-out opacity-100">
            <a href="#" class="flex items-center px-6 py-3 text-gray-700 hover:bg-gray-200" onclick="toggleSubMenu(event)">
                <i class="fas fa-users mr-3 w-[1rem]"></i>
                User Management
                <i class="fas fa-chevron-down ml-auto"></i>
            </a>
            <!-- 子菜单项 -->
            <ul id="userSubMenu" class="pl-9">
                <li>
                    <a href="#" class="flex items-center px-6 py-3 text-gray-700 hover:bg-gray-200">
                        <i class="fas fa-user mr-3 w-[1rem]"></i>
                        Manage Users
                    </a>
                </li>
                <li>
                    <a href="#" class="flex items-center px-6 py-3 text-gray-700 hover:bg-gray-200">
                        <i class="fas fa-user-plus mr-3 w-[1rem]"></i>
                        Add User
                    </a>
                </li>
            </ul>
            <a href="#" class="flex items-center px-6 py-3 text-gray-700 hover:bg-gray-200">
                <i class="fas fa-network-wired mr-3 w-[1rem]"></i>
                Edge Management
            </a>
            <a href="#" class="flex items-center px-6 py-3 text-gray-700 hover:bg-gray-200">
                <i class="fas fa-microchip mr-3 w-[1rem]"></i>
                Core Management
            </a>
            <a href="#" class="flex items-center px-6 py-3 text-gray-700 hover:bg-gray-200">
                <i class="fas fa-th-large mr-3 w-[1rem]"></i>
                App Management
            </a>
            <a href="#" class="flex items-center px-6 py-3 text-gray-700 hover:bg-gray-200">
                <i class="fas fa-random mr-3 w-[1rem]"></i>
                Flow Management
            </a>
            <a href="#" class="flex items-center px-6 py-3 text-gray-700 hover:bg-gray-200">
                <i class="fas fa-sign-out-alt mr-3 w-[1rem]"></i>
                Logout
            </a>
        </nav>
        <!-- 图标触发器 -->
        <button id="sidebarToggle" class="absolute top-1/2 -translate-y-1/2 right-0 transform mr-2 focus:outline-none" style="right: -1rem;">
            <i class="fas fa-arrow-left text-gray-600 hover:text-gray-900"></i>
        </button>
        <div id="tooltip" class="hidden absolute z-10 p-2 bg-gray-800 text-white text-xs rounded-lg shadow-md">
            <!-- 工具提示文本将通过 JavaScript 动态设置 -->
        </div>
    </div>

    <!-- Main Content -->
    <div class="flex-1 p-8 overflow-auto">
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-xl font-semibold">Flows</h2>
            <div class="flex items-center">
                <input type="search" placeholder="Search" class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none">
                <button class="create-flow-btn ml-4 text-sm bg-gray-200 hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 rounded-lg">
                    <i class="fas fa-plus mr-2"></i> Create Flow
                </button>
            </div>
        </div>

        <!-- Table -->
        <div class="bg-white shadow-md rounded-lg overflow-hidden">
            <table class="w-full table-auto">
                <thead class="bg-gray-200">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Name
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Description
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Type
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        No. of Edges
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        No. of Cores
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        No. of Apps
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Update time
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Create time
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody class="bg-white">
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        flow demo
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        demo
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        nondemo
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        1
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        2
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        1
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        25/01/2024, 23:43:41
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        25/01/2024, 22:31:47
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                        <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                    </td>
                </tr>
                <tr class="bg-gray-50">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        new
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        new
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        nondemo
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        2
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        1
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        1
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        25/01/2024, 23:43:04
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        25/01/2024, 23:43:04
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                        <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                    </td>
                </tr>
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        test flow
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        test
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        nondemo
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        9
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        3
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        3
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        25/01/2024, 23:48:44
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        25/01/2024, 23:48:44
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                        <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                    </td>
                </tr>
                <tr class="bg-gray-50">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        yr's flow
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        test flow
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        nondemo
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        3
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        2
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        1
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        25/01/2024, 23:43:37
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        25/01/2024, 22:30:09
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                        <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Create Flow Modal -->
<div id="createFlowModal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full flex justify-center items-center">
    <div class="relative top mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
        <div class="mt-3 text-center">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Create New Flow</h3>
            <div class="mt-2 px-7 py-3">
                <input type="text" placeholder="Flow Name" class="mt-2 px-3 py-2 border rounded-md w-full" />
                <textarea placeholder="Description" class="mt-2 px-3 py-2 border rounded-md w-full"></textarea>
                <select class="mt-2 px-3 py-2 border rounded-md w-full">
                    <option>Type 1</option>
                    <option>Type 2</option>
                </select>
                <input type="number" placeholder="No. of Edges" class="mt-2 px-3 py-2 border rounded-md w-full" />
                <input type="number" placeholder="No. of Cores" class="mt-2 px-3 py-2 border rounded-md w-full" />
                <input type="number" placeholder="No. of Apps" class="mt-2 px-3 py-2 border rounded-md w-full" />
            </div>
            <div class="items-center px-4 py-3">
                <button id="cancelBtn" class="px-4 py-2 bg-gray-200 text-black rounded-md mr-2">Cancel</button>
                <button id="createBtn" class="px-4 py-2 bg-blue-500 text-white rounded-md">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Logo Click Modal -->
<div id="logoModal"
     class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full flex justify-center items-center">
    <div class="relative p-5 border w-96 shadow-lg rounded-md bg-white">
        <!-- 放大的 Logo 图片 -->
        <img id="enlargedLogo"
             src="http://office.unibutton.com:59000/wenhao/2024-02/22/1ac8effc-c054-434a-9167-e00f4cdc3725.png"
             alt="Enlarged Logo" class="rounded-lg"/>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const sidebar = document.getElementById('sidebar');
        const sidebarTitle = document.getElementById('sidebarTitle');
        const sidebarNav = document.getElementById('sidebarNav');
        const sidebarToggle = document.getElementById('sidebarToggle');
        const tooltip = document.getElementById('tooltip'); // 获取工具提示元素

        // 显示工具提示
        function showTooltip(text) {
            tooltip.textContent = text; // 设置工具提示文本
            const toggleRect = sidebarToggle.getBoundingClientRect(); // 获取切换按钮的位置和尺寸
            tooltip.style.left = `${toggleRect.left - tooltip.offsetWidth + 40}px`; // 左移动，考虑工具提示自身宽度和额外的间距
            tooltip.style.top = `${toggleRect.top + window.scrollY - tooltip.offsetHeight / 2 -40}px`; // 上移动，考虑滚动偏移
            tooltip.classList.remove('hidden'); // 显示工具提示
        }

        // 隐藏工具提示
        function hideTooltip() {
            tooltip.classList.add('hidden');
        }

        sidebarToggle.addEventListener('mouseenter', (event) => {
            const tooltipText = sidebar.classList.contains('w-0') ? 'Open' : 'Close';
            showTooltip(tooltipText, event); // 显示工具提示
        });

        sidebarToggle.addEventListener('mouseleave', hideTooltip); // 鼠标离开时隐藏工具提示

        sidebarToggle.addEventListener('click', () => {
            const isOpening = sidebar.classList.contains('w-0');
            sidebar.classList.toggle('w-0');
            sidebar.classList.toggle('w-64');

            // 根据侧边栏是正在打开还是关闭来添加/移除透明度类
            if (isOpening) {
                // 正在打开侧边栏，添加 opacity-100 类，并移除 opacity-0
                setTimeout(() => {
                    sidebarTitle.classList.replace('opacity-0', 'opacity-100');
                    sidebarNav.classList.replace('opacity-0', 'opacity-100');
                }, 100); // 给宽度变化留出时间
            } else {
                // 正在关闭侧边栏，添加 opacity-0 类，并移除 opacity-100
                sidebarTitle.classList.replace('opacity-100', 'opacity-0');
                sidebarNav.classList.replace('opacity-100', 'opacity-0');
            }

            // 切换箭头方向
            sidebarToggle.querySelector('i').classList.toggle('fa-arrow-left');
            sidebarToggle.querySelector('i').classList.toggle('fa-arrow-right');

            // 更新工具提示文本
            const tooltipText = isOpening ? 'Close' : 'Open';
            tooltip.textContent = tooltipText;

            // 移动sidebarToggle
            if (sidebar.classList.contains('w-0')) {
                sidebarToggle.style.left = '0';
                // sidebarToggle.setAttribute('title', 'Open');
            } else {
                sidebarToggle.style.left = 'calc(97%)'; // 侧边栏打开时，调整位置
                // sidebarToggle.setAttribute('title', 'Close');
            }
        });

        const createFlowBtn = document.querySelector('.create-flow-btn'); // 确保你的创建按钮有这个类
        const modal = document.getElementById('createFlowModal');
        const cancelBtn = document.getElementById('cancelBtn');
        const createBtn = document.getElementById('createBtn');

        createFlowBtn.addEventListener('click', () => {
            modal.classList.remove('hidden');
        });

        cancelBtn.addEventListener('click', () => {
            modal.classList.add('hidden');
        });

        createBtn.addEventListener('click', () => {
            alert('发送成功');
            // 在这里实现创建流程的逻辑
            modal.classList.add('hidden');
        });

        const logo = document.querySelector('.logo'); // Logo 的选择器，确保它唯一对应你的 Logo
        const logoModal = document.getElementById('logoModal');

        logo.addEventListener('click', (e) => {
            e.preventDefault(); // 防止链接的默认行为
            logoModal.classList.remove('hidden'); // 显示模态窗口
        });

        // 点击模态窗口背景也能关闭模态窗口
        logoModal.addEventListener('click', (e) => {
            if (e.target === logoModal) {
                logoModal.classList.add('hidden');
            }
        });
    });

    function toggleSubMenu(event) {
        // 阻止默认链接行为
        event.preventDefault();
        // 切换子菜单的显示状态
        const subMenu = document.getElementById('userSubMenu');
        subMenu.classList.toggle('hidden');

        // 切换子菜单图标方向
        const icon = event.currentTarget.querySelector('.fa-chevron-down');
        icon.classList.toggle('fa-chevron-up');
    }
</script>
</body>
</html>